html, body {
	height:100%;
	background:#000;
}

.js-off-canvas-exit {
	z-index:150;
	background:hsla(0, 0%, 0%, 0.6);
}

/* backgrounds */
#indexPage {
	background-color:white;
	background-image:url('../img/International_Finance_Corporation_Building.jpg');
	background-position:center center;
	background-repeat:no-repeat;
}

#aboutPage {
	background:black url('../img/fiberopticglobe.jpg') no-repeat left center;
}

#teamPage {
	background:black url('../img/chess.jpg') no-repeat center  center;
}

#strategyPage {
	background:black url('../img/graph.jpg') no-repeat center center;
}

#contactPage {
	background:white url('../img/compass.jpg') no-repeat center center;
}

/* styles */

div.off-canvas-content {
	box-shadow:none;
}

#widemenu a, #offCanvasLeft a {
	font-variant: small-caps;
}

.off-canvas-wrapper, #offCanvasLeft ul li a {
	background:black;
}

div.callout {
	border:none;
}

@media screen and (min-width:40em) {
	.menu a {
		border-bottom:1px solid white;
	}

	.menu a:hover {
		border-bottom:1px solid #258faf;
	}

	.menu li.active a {
		border-bottom:1px solid #258faf;
		color:#258faf;
		background-color:transparent;
	}

	.top-bar, .top-bar ul {
		background-color:white;
	}
}

/* physical layout */

.title-bar {
	position:fixed;
	top:0px;
	width:100%;
	height:3em;
	z-index:100;
}

@media screen and (max-width: 40em) {
	.off-canvas-content {
		margin-top:3em;
	}
}

.mainBlock {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	z-index:90;
}

.mainBlockLong {
	top:0;
	transform:none;
}

footer {
	font-size:.8em;
	padding:1em 2em;
	margin-bottom:0;
	height:4em;
	width:100%;
	bottom:0;
	background:black;
	color:#555;
	z-index:100;
}

.push { height:2em; }

/* fix FOUC */

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}